.header{
    background-color: #1C2B35;
    color: #ffffff;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 90px;
}

 .header a{
    text-decoration: none;
    color: #ffffff;
    padding-left: 15px;
}

.header a:hover{
    color:#FF9900;
}